:root {
  --black: black;
  --dark-orange: #ff7b00;
  --white-smoke: #e9e9e9;
  --gainsboro: #dadada;
  --medium-slate-blue: #6a56df;
  --peach-puff: #f8d2af;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: PT Serif, serif;
  font-size: 42px;
  font-weight: 800;
  line-height: 52px;
}

h2 {
  color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: PT Serif, serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
}

h3 {
  color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: PT Serif, serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
}

h4 {
  color: var(--black);
  letter-spacing: 0;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 800;
  line-height: 36px;
}

h5 {
  color: var(--black);
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}

h6 {
  color: var(--black);
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 26px;
}

p {
  color: var(--black);
  margin-bottom: 10px;
  font-family: PT Sans, sans-serif;
  line-height: 24px;
}

a {
  color: var(--dark-orange);
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 22px;
  text-decoration: underline;
}

ul, ol {
  color: var(--black);
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 800;
}

strong {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 22px;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 3px solid var(--dark-orange);
  color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #f8d2af3b;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 24px;
}

.button {
  background-color: var(--dark-orange);
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 14px 24px;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s;
  display: inline-block;
}

.button:hover {
  background-color: var(--black);
  color: #f5f7fc;
  box-shadow: inset 0 200px 200px 200px #0202021c;
}

.button.outline {
  border: 1px solid var(--white-smoke);
  color: var(--black);
  background-color: #0000;
}

.button.outline:hover {
  background-color: var(--white-smoke);
  box-shadow: none;
}

.button.outline.buy-template-button {
  background-color: #fff;
  transition: background-color .4s;
}

.button.outline.buy-template-button:hover {
  background-color: var(--gainsboro);
  box-shadow: none;
}

.button.padding-top {
  margin-top: 20px;
}

.button.hide {
  display: none;
}

.section {
  padding: 120px 20px;
  position: relative;
}

.text-block {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 800;
  line-height: 20px;
}

.nav-button-wrapper {
  grid-column-gap: 1rem;
  order: 1;
  align-items: center;
  display: flex;
}

.nav-link {
  color: #000;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px 40px 7px 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  transition: background-color .3s;
}

.nav-link:hover {
  color: #696969;
}

.nav-link.w--current {
  color: var(--dark-orange);
}

.nav-flex {
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  display: flex;
}

.nav-menu {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-menu.w--open {
  margin-left: 0;
}

.container {
  z-index: 2;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}

.container.navbar-container {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  overflow: visible;
}

.container.hero {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.big-paragraph {
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.navbar {
  z-index: 0;
  background-color: #fff;
  border-bottom: 1px solid #0000;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px 24px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.sub-title {
  color: var(--dark-orange);
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  display: block;
  position: static;
  top: 0;
  bottom: -14px;
  left: 0;
}

.sub-title.centerated {
  color: var(--dark-orange);
  text-align: center;
}

.section-hero {
  background-color: #fff;
  padding-top: 160px;
  padding-bottom: 160px;
}

.section-hero.hero-page-section {
  background-image: linear-gradient(#0000004d, #0000004d), url('../images/Untitled-3.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding: 220px 20px 140px;
  position: relative;
}

.section-hero.hero-page-section.about {
  background-image: linear-gradient(#0006, #0006), url('../images/mikhail-pavstyuk-EKy2OTRPXdw-unsplash.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding-left: 20px;
  padding-right: 20px;
}

.section-hero.hero-page-section.style-guide {
  background-image: url('../images/Untitled-1.jpg');
  background-position: 50% 100%;
}

.div-font-guide {
  margin-top: 0;
}

.color-example {
  background-color: var(--medium-slate-blue);
  border-radius: 300px;
  width: 80px;
  height: 80px;
}

.color-example.second {
  background-color: var(--dark-orange);
}

.color-example.fourth {
  background-color: var(--white-smoke);
}

.color-example.third {
  background-color: var(--peach-puff);
}

.color-example.fifth {
  background-color: var(--gainsboro);
}

.color-example.sixth {
  background-color: var(--black);
}

.rich-text-block {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-wrapper {
  margin-bottom: 30px;
}

.big-headline {
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.grid-scales {
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.grid-scales.style {
  grid-column-gap: 20px;
  grid-template-rows: auto auto;
}

.divider {
  background-color: #e7e7e7;
  border-radius: 100px;
  width: 100%;
  height: 1px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.color-text {
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 0;
  padding: 5px 20px;
  font-family: PT Sans, sans-serif;
  font-weight: 300;
}

.small-title {
  color: #020224;
}

.small-title.padding {
  color: #000;
  margin-bottom: 60px;
}

.colors {
  color: #24336b;
  background-color: #0000;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  display: flex;
}

.paragraph-div-info {
  margin-top: 100px;
}

.container-middle {
  background-color: #0000;
  max-width: 1200px;
}

.title-section {
  width: 100%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.icon-services {
  border: 1px solid #79797926;
  border-bottom-width: 3px;
  width: 80px;
  height: 80px;
  padding: 10px;
  display: block;
}

.icon-services.three {
  background-image: none;
  background-size: auto;
  border-style: none;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
}

.service-headline {
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 26px;
}

.title-section-center {
  text-align: center;
  margin-bottom: 0;
}

.error-message {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: red;
  border-radius: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 700;
}

.white {
  color: #fff;
  margin-top: 20px;
}

.left {
  filter: hue-rotate(236deg);
  background-image: url('../images/Untitled-3_1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 20px solid #f8f8f8;
  width: 70%;
  height: 600px;
}

.agency-features-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.agency-features-grid.whith-side-section {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: none;
}

.second-services-card {
  border: 1px solid #79797926;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  display: flex;
}

.second-services-card.first {
  border-style: none;
  justify-content: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.second-services-card.hide {
  display: none;
}

.pricing-list-wrapper {
  border-top: 1px solid #e2ddee;
  border-bottom: 1px solid #e2ddee;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pricing-list-wrapper.hero {
  border: 1px #000;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.pricing-list-text {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
}

.pricing-list-text.third {
  color: var(--black);
  align-items: center;
  padding-right: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 800;
  display: flex;
}

.left-button-div {
  text-align: left;
}

.left-button-div.padding {
  padding-left: 80px;
  padding-right: 80px;
}

.left-button-div.padding.new {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  padding-left: 0;
  display: flex;
}

.icon {
  background-color: #d1d8f3;
  background-image: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.icon.small {
  border: 1px solid var(--gainsboro);
  color: #000;
  background-color: #00000014;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  margin-left: 0;
  margin-right: 20px;
  display: flex;
}

.icon.small.dark {
  border-color: var(--black);
  justify-content: center;
  align-items: center;
  display: flex;
}

.grid-aids {
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  align-items: center;
}

.grid-aids.center-flex {
  align-items: center;
}

.hero-page {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0%;
  line-height: 24px;
  display: flex;
}

.breadcrumbs-block {
  z-index: 3;
  background-color: #0000;
  border-top: 1px #000;
  border-bottom: 0 #d4e4f0;
  border-left: 1px #000;
  border-right: 1px #d4e4f0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 13px;
  line-height: 23px;
  display: flex;
  position: absolute;
  inset: auto 0% 0% auto;
}

.link-header-page {
  color: #8796b4;
  background-color: #0000;
  border: 1px solid #a9bce0;
  border-radius: 10px;
  margin-right: 0;
  padding: 5px 10px;
  text-decoration: none;
}

.link-header-page:hover {
  text-decoration: underline;
}

.link-header-page.white {
  color: var(--black);
  text-transform: uppercase;
  background-color: #fff;
  border-style: none;
  border-color: #f5f5f533;
  border-radius: 0;
  margin-right: 1px;
  padding: 10px 20px;
  font-size: 8px;
  line-height: 22px;
}

.link-header-page.white:hover {
  text-decoration: none;
}

.link-header-page.white.light {
  background-color: var(--white-smoke);
  color: #fff;
  text-align: center;
  border: 1px solid #d4e4f033;
  border-bottom-style: none;
  border-radius: 0;
  margin-left: -1px;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.link-header-page.white.light.w--current {
  background-color: var(--peach-puff);
  box-shadow: none;
  color: var(--black);
  border-style: none;
  border-width: 1px;
  width: auto;
  margin-left: 0;
}

.footer-copyright {
  color: #666;
  border-top: 1px solid #e0e0e0;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.footer-copyright.white {
  color: #eaf8ff;
  background-color: #0000;
  border: 1px #000;
  border-top: 1px solid #d2d2f533;
  border-radius: 0;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.footer-link {
  color: var(--black);
  border-bottom: 2px solid #0000;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  transition: border .3s, color .3s;
  display: inline-block;
}

.footer-link:hover {
  border-bottom: 2px solid var(--dark-orange);
  color: var(--dark-orange);
  text-decoration: none;
}

.footer-link.w--current {
  color: var(--dark-orange);
}

.footer-link.white {
  color: #9dbdd4;
  border: 1px #000;
  border-bottom-width: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 16px;
  font-weight: 400;
}

.footer-link.white:hover {
  color: #fff;
  border: 1px #000;
}

.footer-link.white.w--current:hover {
  border: 1px #000;
  text-decoration: none;
}

.footer-link.white {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 10px;
  font-weight: 600;
}

.footer-link.white:hover {
  color: var(--dark-orange);
  border-bottom-color: #b87df9;
}

.footer-link.white.w--current {
  color: var(--dark-orange);
  font-weight: 600;
}

.footer-link.white.bottom {
  letter-spacing: 1px;
  margin-top: 0;
  font-size: 8px;
  font-weight: 800;
}

.footer-link.white.bottom:hover {
  color: var(--dark-orange);
}

.footer-bottom-text {
  color: #30364d;
  font-size: 14px;
  line-height: 22px;
}

.footer-bottom-text.white-text {
  color: #fff;
  text-align: left;
  align-items: center;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 30px;
  display: block;
}

.home-section {
  padding: 110px 20px;
  transition: box-shadow .3s;
  position: relative;
}

.home-section.hero {
  flex-direction: column;
  justify-content: center;
  height: 750px;
  margin-bottom: 40px;
  display: flex;
}

.home-section.hero.big-hero {
  color: #020224;
  background-color: #fff;
  height: 100vh;
  margin-bottom: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.button-wrapper {
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.hero-big-image {
  background-color: #0000;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-big-image.green {
  background-color: #0000;
  border-radius: 0;
  height: 100%;
  margin-left: auto;
}

.hero-big-image-wrapper {
  background-color: #37e083;
  border-bottom-left-radius: 0;
  width: 50%;
  height: auto;
  position: absolute;
  inset: 0% 0% 0% auto;
  overflow: hidden;
}

.hero-big-image-wrapper.darker {
  background-color: #0000;
}

.left-hero-content {
  max-width: 500px;
  padding-right: 40px;
}

.left-hero-content.left {
  filter: none;
  background-image: none;
  border-style: none;
  border-width: 0;
  width: 100%;
  height: auto;
  margin-top: 0;
  padding-right: 20px;
}

.hero-flex {
  justify-content: space-between;
  display: flex;
}

.work-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.work-post-link {
  border: 1px none var(--white-smoke);
  color: #333;
  text-transform: capitalize;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.work-post-link.w--current {
  margin-bottom: 20px;
}

.work-image-wrapper {
  width: 100%;
  overflow: hidden;
}

.work-post {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  padding: 12px;
  display: flex;
  position: relative;
}

.work-icon {
  background-color: #fff;
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
}

.footer-flex-container {
  color: #666;
  text-align: left;
  justify-content: space-between;
  height: auto;
  margin-bottom: 0;
  display: flex;
}

.footer-bottom-div {
  font-weight: 400;
  display: flex;
}

.footer {
  background-color: var(--black);
  text-align: center;
  border-top: 1px #e3e3e3;
  align-items: flex-start;
  padding: 0 20px;
}

.footer-headings {
  color: #333;
  letter-spacing: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}

.footer-headings.white {
  color: #fff;
  letter-spacing: 0;
}

.footer-column {
  text-align: left;
  flex-direction: column;
  flex: 0 auto;
  align-items: stretch;
  width: 33.33%;
  margin-bottom: 20px;
  display: flex;
}

.footer-side {
  width: 40%;
  padding-top: 98px;
  padding-bottom: 60px;
  padding-right: 98px;
}

.footer-side.flex-side {
  border-left: 1px solid #30364d2e;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 98px;
  padding-left: 60px;
  padding-right: 0;
  display: flex;
}

.footer-side.flex-side.light {
  border: 1px #000;
  justify-content: flex-end;
  width: 60%;
}

.contact-link {
  color: #666;
  line-height: 30px;
  text-decoration: none;
}

.contact-link.space {
  margin-left: 4px;
  margin-right: 4px;
}

.footer-grid-bottom {
  grid-template-rows: auto;
}

.about-image {
  background-color: #fff;
  background-image: url('../images/eelco-bohtlingk-gAYyXcrILGc-unsplash.webp');
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  height: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.about-image.right-side-image {
  background-image: url('../images/siyuan-hu-Jea4t6pte-k-unsplash.webp');
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: 0;
}

.about-image.left-side-image {
  height: 400px;
  margin-top: 60px;
  margin-left: 0;
  margin-right: auto;
}

.paragraph {
  color: var(--black);
}

.padding-paragraph {
  margin-bottom: 60px;
}

.left-form {
  text-align: left;
}

.text-field-contact {
  float: left;
  border: 1px solid var(--white-smoke);
  color: var(--black);
  background-color: #fff;
  border-radius: 0;
  min-width: 100%;
  height: 36px;
  margin-bottom: 0;
  padding: 10px 20px;
  font-family: PT Sans, sans-serif;
  line-height: 24px;
}

.text-field-contact:hover {
  border-color: #ffa332;
}

.text-field-contact.password {
  text-align: center;
  margin-bottom: 10px;
}

.success-message {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #0dcc43;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
}

.grid-contact {
  grid-template-rows: auto auto auto auto;
}

.grid-contact.short {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto auto;
}

.section-half-block {
  background-image: linear-gradient(#693401, #693401);
  width: 50%;
  height: 800px;
  padding: 100px;
  display: flex;
  position: relative;
  inset: auto;
}

.section-half-block.right-text-side {
  background-image: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  padding: 100px;
  display: flex;
  position: relative;
  inset: auto;
}

.section-half-block.contact {
  align-items: center;
}

.section-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 24px;
  display: flex;
  position: relative;
}

.section-header.contact-page {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: auto;
  padding: 0;
}

.center-button-block {
  text-align: left;
  width: 100%;
}

.contact-shape {
  opacity: 1;
  background-color: #0000;
  background-image: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 750px;
  display: flex;
}

.contact-shape.color {
  background-image: none;
  flex-direction: column;
  width: 400px;
  height: auto;
}

.message {
  border: 1px solid var(--white-smoke);
  color: var(--black);
  background-color: #fff;
  border-radius: 0;
  min-height: 100px;
  font-family: PT Sans, sans-serif;
}

.message:hover {
  border-color: #ffa332;
}

.section-scroll {
  z-index: 100;
  border: 1px solid var(--white-smoke);
  background-color: #0000;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  position: absolute;
  bottom: auto;
  right: auto;
}

.inverted-arrow-color {
  filter: invert();
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.light {
  color: #9dbdd4;
}

.field-label {
  color: var(--black);
  font-family: Montserrat, sans-serif;
}

.sticky-navigation {
  z-index: 100;
  position: sticky;
  top: 0;
}

.icon-embed-small {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
}

.html-embed {
  width: 100%;
}

.white-copy {
  color: #fff;
  margin-top: 20px;
}

.image-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.icon-embed-medium {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.icon-embed-xsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.our-partners_introduction {
  text-align: justify;
}

.link-zh {
  font-size: 14px;
}

.hero-image {
  width: 100%;
}

.footer-link-credit {
  color: #4b557c;
  border-bottom: 2px solid #0000;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  transition: border .3s, color .3s;
  display: inline-block;
}

.footer-link-credit:hover {
  color: #6a4ee1;
  border-bottom: 2px solid #6a4ee1;
  text-decoration: none;
}

.footer-link-credit.white {
  color: #9dbdd4;
  border: 1px #000;
  border-bottom-width: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 16px;
  font-weight: 400;
}

.footer-link-credit.white:hover {
  color: #fff;
  border: 1px #000;
}

.footer-link-credit.white.w--current:hover {
  border: 1px #000;
  text-decoration: none;
}

.footer-link-credit.white {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 10px;
  font-weight: 600;
}

.footer-link-credit.white:hover {
  color: var(--dark-orange);
  border-bottom-color: #b87df9;
}

.footer-link-credit.white.w--current {
  color: var(--dark-orange);
  font-weight: 600;
}

.footer-link-credit.white.bottom {
  letter-spacing: 1px;
  margin-top: 0;
  font-size: 8px;
  font-weight: 800;
}

.footer-link-credit.white.bottom:hover {
  color: var(--dark-orange);
}

@media screen and (max-width: 991px) {
  .nav-button-wrapper {
    order: 1;
    margin-right: 0;
  }

  .nav-link {
    color: #151f47;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-menu {
    background-color: #fff;
    flex: 0 auto;
    height: auto;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    position: absolute;
    overflow: visible;
  }

  .nav-menu.w--open {
    margin-left: 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .container.navbar-container {
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    display: flex;
  }

  .menu-button {
    background-color: var(--dark-orange);
    color: #fff;
    border-radius: 4px;
    order: 1;
    width: 52px;
    height: 52px;
    margin-left: 10px;
    padding: 14px;
  }

  .menu-button.w--open {
    background-color: var(--black);
    color: #fff;
  }

  .navbar {
    background-color: #0000;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }

  .section-hero.hero-page-section.about {
    padding-top: 140px;
  }

  .color-example {
    background-color: var(--medium-slate-blue);
  }

  .color-example.second {
    background-color: var(--dark-orange);
  }

  .color-example.fourth {
    background-color: var(--gainsboro);
  }

  .color-example.third {
    background-color: var(--peach-puff);
  }

  .rich-text-block {
    width: 80%;
  }

  .big-headline {
    text-align: left;
  }

  .grid-scales {
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .container-middle {
    padding-left: 0;
    padding-right: 0;
  }

  .title-section {
    width: 100%;
  }

  .white {
    margin-top: 20px;
  }

  .left {
    background-position: 50%;
    width: 80%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .agency-features-grid.whith-side-section {
    grid-row-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .left-button-div.padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .grid-aids {
    grid-row-gap: 100px;
    grid-template-columns: 1fr;
  }

  .hero-page {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .breadcrumbs-block {
    justify-content: flex-start;
  }

  .footer-copyright.white {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .home-section.hero {
    justify-content: flex-start;
    height: auto;
    margin-bottom: 0;
    padding-top: 0;
  }

  .home-section.hero.big-hero {
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero-big-image {
    background-image: none;
    height: 700px;
  }

  .hero-big-image.green {
    height: auto;
  }

  .hero-big-image-wrapper {
    width: 100%;
    inset: auto 0% 0%;
  }

  .hero-big-image-wrapper.darker {
    position: relative;
  }

  .left-hero-content {
    max-width: none;
    padding-right: 0;
  }

  .left-hero-content.left {
    margin-top: 60px;
    padding-right: 0;
  }

  .hero-flex {
    height: auto;
    margin-top: 0;
  }

  .work-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .work-post-link {
    padding-right: 0;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-column {
    width: 100%;
  }

  .footer-side {
    width: 100%;
    padding-bottom: 0;
  }

  .footer-side.flex-side.light {
    width: 100%;
    padding-left: 0;
  }

  .section-half-block {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    display: flex;
  }

  .section-header.contact-page {
    flex-direction: column;
    height: auto;
  }

  .contact-shape {
    margin-left: auto;
    margin-right: auto;
    inset: auto 0% 0%;
  }

  .contact-shape.color {
    width: 100%;
    height: auto;
  }

  .section-scroll {
    margin-right: 20px;
  }

  .white-copy {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu.w--open {
    margin-left: 0;
  }

  .container {
    align-items: stretch;
  }

  .menu-button {
    background-color: var(--dark-orange);
    border-radius: 6px;
    padding: 14px;
    display: flex;
  }

  .menu-button.w--open {
    background-color: var(--black);
    color: #fff;
  }

  .navbar {
    z-index: 999;
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-wrapper {
    overflow: hidden;
  }

  .rich-text-block {
    width: 100%;
  }

  .big-headline {
    font-size: 50px;
    line-height: 60px;
  }

  .grid-scales {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  .title-section, .left {
    width: 100%;
  }

  .agency-features-grid.whith-side-section {
    grid-template-columns: 1fr;
  }

  .hero-page {
    margin-top: 0;
  }

  .breadcrumbs-block {
    width: 100%;
    margin-top: 100px;
  }

  .footer-link.white.bottom {
    margin-top: 0;
  }

  .home-section.hero {
    margin-bottom: 0;
  }

  .home-section.hero.big-hero {
    padding-bottom: 0;
  }

  .left-hero-content.left {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-flex {
    margin-top: 40px;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }

  .footer-flex-container {
    flex-wrap: wrap;
  }

  .footer {
    padding: 40px 20px 0;
  }

  .footer-side {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
  }

  .footer-side.flex-side {
    border-left-style: none;
    width: 100%;
    padding-left: 20px;
  }

  .footer-side.flex-side.light {
    width: 100%;
  }

  .about-image.right-side-image {
    height: 500px;
  }

  .left-form {
    width: 100%;
  }

  .text-field-contact {
    min-width: auto;
  }

  .grid-contact {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .grid-contact.short, .form-wrapper {
    width: 100%;
  }

  .contact-shape {
    width: 500px;
    height: 550px;
  }

  .footer-link-credit.white.bottom {
    margin-top: 0;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
    line-height: 38px;
  }

  .button {
    margin-bottom: 10px;
  }

  .button.outline.buy-template-button {
    display: none;
  }

  .nav-button-wrapper {
    grid-column-gap: .5rem;
  }

  .nav-menu.w--open {
    margin-left: 0;
  }

  .menu-button {
    background-color: var(--dark-orange);
  }

  .menu-button.w--open {
    background-color: var(--black);
  }

  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }

  .rich-text-block {
    width: 100%;
  }

  .big-headline {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }

  .grid-scales {
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .title-section-center {
    font-size: 32px;
    line-height: 42px;
  }

  .left {
    height: 400px;
  }

  .second-services-card {
    padding: 20px;
  }

  .pricing-list-text.third {
    text-align: left;
    padding-right: 0;
  }

  .left-button-div.padding {
    padding-left: 0;
    padding-right: 0;
  }

  .icon {
    margin-right: auto;
  }

  .icon.small {
    margin-right: 20px;
  }

  .hero-page {
    margin-top: 0;
    margin-bottom: 0;
  }

  .breadcrumbs-block {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
  }

  .link-header-page.white {
    margin-top: 0;
    font-size: 8px;
    line-height: 22px;
  }

  .link-header-page.white.light {
    text-align: center;
    margin-top: 0;
    margin-right: 0;
  }

  .link-header-page.white.light.w--current {
    font-size: 8px;
    line-height: 22px;
  }

  .footer-copyright {
    flex-direction: column;
  }

  .footer-link {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .footer-bottom-text.white-text {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-section.hero {
    margin-bottom: 0;
  }

  .home-section.hero.big-hero {
    padding-bottom: 100px;
  }

  .button-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-big-image {
    background-position: 50% 100%;
    background-size: contain;
    height: 600px;
  }

  .left-hero-content {
    max-width: none;
  }

  .left-hero-content.left {
    margin-bottom: 0;
  }

  .hero-flex {
    margin-top: 20px;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }

  .work-post-link {
    flex-direction: column;
    padding-right: 0;
  }

  .work-post {
    width: 100%;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .footer-bottom-div {
    text-align: left;
    justify-content: flex-start;
    margin-right: auto;
  }

  .footer {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-headings {
    margin-top: 20px;
  }

  .footer-column {
    width: 100%;
  }

  .footer-side {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 0;
  }

  .footer-side.flex-side {
    border-left-style: none;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
  }

  .footer-side.flex-side.light {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-grid-bottom {
    grid-template-columns: 1fr;
  }

  .about-image.left-side-image {
    height: 300px;
  }

  .text-field-contact {
    min-width: 100%;
  }

  .grid-contact {
    width: 100%;
  }

  .section-half-block, .section-half-block.right-text-side {
    padding: 20px;
  }

  .section-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-shape {
    display: none;
  }

  .contact-shape.color {
    display: flex;
  }
}

#w-node-a73c1bd7-8972-4c7b-fb60-415ff2236301-6ab8a285, #w-node-a73c1bd7-8972-4c7b-fb60-415ff2236303-6ab8a285, #w-node-a73c1bd7-8972-4c7b-fb60-415ff2236305-6ab8a285 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_6df8a40f-1011-5f07-6717-2d736ab8a2db-6ab8a285 {
  justify-self: end;
}

#w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-a17cc8f5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-fedaa951-7a9b-bf15-46ca-2c364da7c396-a17cc8f5, #w-node-_4c986114-f34e-6509-15a1-184ac698c9bd-a17cc8f5, #w-node-_056d99a2-7d4f-5555-7511-c4908f681253-a17cc8f5, #w-node-_4ea02014-f389-4190-2670-ed26e0033912-a17cc8f5, #w-node-_0e98c9a7-6c39-83ab-531c-1a335762bb93-a17cc8f5, #w-node-d3673308-7d9e-96f1-12d9-ef804514ef73-a17cc8f5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-597cc8f7, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-597cc8f7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_342852c7-fe7b-0c6d-9395-4000919088e9-207cc90d, #w-node-_342852c7-fe7b-0c6d-9395-4000919088ef-207cc90d, #w-node-_342852c7-fe7b-0c6d-9395-4000919088f5-207cc90d, #w-node-_342852c7-fe7b-0c6d-9395-4000919088fb-207cc90d, #w-node-d763a52f-58fe-02b2-9741-1bc02e49ab44-207cc90d, #w-node-cd8e7e7a-8754-bb66-5852-5fdc64f03701-207cc90d {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_0ec9f206-cbfa-9820-48e5-557912552427-1255241b, #w-node-_0ec9f206-cbfa-9820-48e5-557912552429-1255241b, #w-node-_0ec9f206-cbfa-9820-48e5-55791255242b-1255241b {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_0ec9f206-cbfa-9820-48e5-55791255244d-1255241b {
  justify-self: end;
}

#w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-55722bc4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-fedaa951-7a9b-bf15-46ca-2c364da7c396-55722bc4, #w-node-_4c986114-f34e-6509-15a1-184ac698c9bd-55722bc4, #w-node-_056d99a2-7d4f-5555-7511-c4908f681253-55722bc4, #w-node-_4ea02014-f389-4190-2670-ed26e0033912-55722bc4, #w-node-_0e98c9a7-6c39-83ab-531c-1a335762bb93-55722bc4, #w-node-d3673308-7d9e-96f1-12d9-ef804514ef73-55722bc4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-b453aee7, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-b453aee7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_8ef54745-a838-08c9-151e-6df03aaa4658-3aaa464c, #w-node-_8ef54745-a838-08c9-151e-6df03aaa465a-3aaa464c, #w-node-_8ef54745-a838-08c9-151e-6df03aaa465c-3aaa464c {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_8ef54745-a838-08c9-151e-6df03aaa467e-3aaa464c {
  justify-self: end;
}

#w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-af95df97 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-fedaa951-7a9b-bf15-46ca-2c364da7c396-af95df97, #w-node-_4c986114-f34e-6509-15a1-184ac698c9bd-af95df97, #w-node-_056d99a2-7d4f-5555-7511-c4908f681253-af95df97, #w-node-_4ea02014-f389-4190-2670-ed26e0033912-af95df97, #w-node-_0e98c9a7-6c39-83ab-531c-1a335762bb93-af95df97, #w-node-d3673308-7d9e-96f1-12d9-ef804514ef73-af95df97 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-4016a9e1, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-4016a9e1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-f27cc8f1 {
    grid-column-end: 4;
  }

  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-a17cc8f5, #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-597cc8f7, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-597cc8f7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_342852c7-fe7b-0c6d-9395-4000919088e9-207cc90d, #w-node-_342852c7-fe7b-0c6d-9395-4000919088ef-207cc90d, #w-node-_342852c7-fe7b-0c6d-9395-4000919088f5-207cc90d, #w-node-_342852c7-fe7b-0c6d-9395-4000919088fb-207cc90d, #w-node-d763a52f-58fe-02b2-9741-1bc02e49ab44-207cc90d, #w-node-cd8e7e7a-8754-bb66-5852-5fdc64f03701-207cc90d {
    grid-column: span 4 / span 4;
  }

  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-a6631714 {
    grid-column-end: 4;
  }

  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-55722bc4, #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-b453aee7, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-b453aee7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-6f1466f7 {
    grid-column-end: 4;
  }

  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-af95df97, #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-4016a9e1, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-4016a9e1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-f27cc8f1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-a73c1bd7-8972-4c7b-fb60-415ff2236301-6ab8a285, #w-node-a73c1bd7-8972-4c7b-fb60-415ff2236303-6ab8a285, #w-node-a73c1bd7-8972-4c7b-fb60-415ff2236305-6ab8a285 {
    grid-column: span 1 / span 1;
  }

  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-a6631714 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_0ec9f206-cbfa-9820-48e5-557912552427-1255241b, #w-node-_0ec9f206-cbfa-9820-48e5-557912552429-1255241b, #w-node-_0ec9f206-cbfa-9820-48e5-55791255242b-1255241b {
    grid-column: span 1 / span 1;
  }

  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-6f1466f7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_8ef54745-a838-08c9-151e-6df03aaa4658-3aaa464c, #w-node-_8ef54745-a838-08c9-151e-6df03aaa465a-3aaa464c, #w-node-_8ef54745-a838-08c9-151e-6df03aaa465c-3aaa464c {
    grid-column: span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-a17cc8f5, #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-597cc8f7, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-597cc8f7, #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-55722bc4, #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-b453aee7, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-b453aee7, #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-af95df97, #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-4016a9e1, #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-4016a9e1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


