.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'PT Serif', serif;
  color: #000;
  font-size: 42px;
  line-height: 52px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'PT Serif', serif;
  color: #000;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'PT Serif', serif;
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 26px;
  line-height: 36px;
  font-weight: 800;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #000;
  line-height: 24px;
}

a {
  font-family: Montserrat, sans-serif;
  color: #ff7b00;
  font-size: 12px;
  line-height: 22px;
  font-weight: 800;
  text-decoration: underline;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

ol {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

strong {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
}

em {
  font-style: italic;
}

blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px;
  border-left: 3px solid #ff7b00;
  background-color: rgba(248, 210, 175, 0.23);
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  height: auto;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background-color: #ff7b00;
  transition: background-color 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #000;
  box-shadow: inset 0 200px 200px 200px rgba(2, 2, 2, 0.11);
  color: #f5f7fc;
}

.button.outline {
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  background-color: transparent;
  color: #000;
}

.button.outline:hover {
  background-color: #e9e9e9;
  box-shadow: none;
}

.button.outline.buy-template-button {
  background-color: #fff;
  transition: background-color 400ms ease;
}

.button.outline.buy-template-button:hover {
  background-color: #dadada;
  box-shadow: none;
}

.button.padding-top {
  margin-top: 20px;
}

.button.hide {
  display: none;
}

.section {
  position: relative;
  padding: 120px 20px;
}

.text-block {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-button-wrapper {
  display: flex;
  align-items: center;
  order: 1;
  grid-column-gap: 1rem;
}

.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 7px 40px 7px 0px;
  transition: background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #696969;
}

.nav-link.w--current {
  color: #ff7b00;
}

.nav-flex {
  display: flex;
  margin-right: auto;
  margin-left: 0px;
  align-items: center;
}

.nav-menu {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.nav-menu.w--open {
  margin-left: 0px;
}

.container {
  position: relative;
  z-index: 2;
  overflow: visible;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.container.navbar-container {
  display: flex;
  overflow: visible;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.container.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.big-paragraph {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 0px;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px 24px;
  align-items: center;
  border-bottom: 1px solid transparent;
  background-color: #fff;
}

.sub-title {
  position: static;
  left: 0px;
  top: 0px;
  bottom: -14px;
  display: block;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #ff7b00;
  font-size: 10px;
  line-height: 22px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.sub-title.centerated {
  color: #ff7b00;
  text-align: center;
}

.section-hero {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #fff;
}

.section-hero.hero-page-section {
  position: relative;
  padding: 220px 20px 140px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/Untitled-3.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section-hero.hero-page-section.about {
  padding-right: 20px;
  padding-left: 20px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/mikhail-pavstyuk-EKy2OTRPXdw-unsplash.webp');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section-hero.hero-page-section.style-guide {
  background-image: url('../images/Untitled-1.jpg');
  background-position: 50% 100%;
}

.div-font-guide {
  margin-top: 0px;
}

.color-example {
  width: 80px;
  height: 80px;
  border-radius: 300px;
  background-color: #6a55df;
}

.color-example.second {
  background-color: #ff7b00;
}

.color-example.fourth {
  background-color: #e9e9e9;
}

.color-example.third {
  background-color: #f8d2af;
}

.color-example.fifth {
  background-color: #dadada;
}

.color-example.sixth {
  background-color: #000;
}

.rich-text-block {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-wrapper {
  margin-bottom: 30px;
}

.big-headline {
  margin-bottom: 20px;
  color: #000;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.grid-scales {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-scales.style {
  grid-column-gap: 20px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 100px;
  background-color: #e7e7e7;
}

.color-text {
  padding: 5px 20px;
  border-radius: 0px;
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
}

.small-title {
  color: #020224;
}

.small-title.padding {
  margin-bottom: 60px;
  color: #000;
}

.colors {
  display: flex;
  width: 100%;
  height: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  border-radius: 0px;
  background-color: transparent;
  color: #24336b;
}

.paragraph-div-info {
  margin-top: 100px;
}

.container-middle {
  max-width: 1200px;
  background-color: transparent;
}

.title-section {
  width: 100%;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}

.icon-services {
  display: block;
  width: 80px;
  height: 80px;
  padding: 10px;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: hsla(0, 0%, 47.5%, 0.15);
}

.icon-services.three {
  display: flex;
  width: 52px;
  height: 52px;
  margin-bottom: 20px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  background-image: none;
  background-size: auto;
}

.service-headline {
  font-size: 16px;
  line-height: 26px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

.title-section-center {
  margin-bottom: 0px;
  text-align: center;
}

.error-message {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px;
  background-color: red;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.white {
  margin-top: 20px;
  color: #fff;
}

.left {
  width: 70%;
  height: 600px;
  border: 20px solid #f8f8f8;
  background-image: url('../images/Untitled-3_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: hue-rotate(236deg);
}

.agency-features-grid {
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.agency-features-grid.whith-side-section {
  max-width: none;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.second-services-card {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 47.5%, 0.15);
}

.second-services-card.first {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  justify-content: flex-start;
  border-style: none;
}

.second-services-card.hide {
  display: none;
}

.pricing-list-wrapper {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e2ddee;
  border-bottom: 1px solid #e2ddee;
}

.pricing-list-wrapper.hero {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 1px none #000;
}

.pricing-list-text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  font-size: 18px;
  line-height: 28px;
}

.pricing-list-text.third {
  display: flex;
  padding-right: 40px;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 800;
}

.left-button-div {
  text-align: left;
}

.left-button-div.padding {
  padding-right: 80px;
  padding-left: 80px;
}

.left-button-div.padding.new {
  display: flex;
  margin-top: 40px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100px;
  background-color: #d1d8f3;
  background-image: none;
  background-position: 50% 50%;
  background-size: 32px;
  background-repeat: no-repeat;
}

.icon.small {
  display: flex;
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  margin-right: 20px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #dadada;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.08);
  color: #000;
}

.icon.small.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #000;
}

.grid-aids {
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-aids.center-flex {
  align-items: center;
}

.hero-page {
  display: flex;
  height: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  padding-right: 0%;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 24px;
}

.breadcrumbs-block {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: flex;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0px;
  padding-top: 0px;
  justify-content: flex-start;
  align-items: center;
  border-style: none;
  border-width: 1px 1px 0px;
  border-color: #000 #d4e4f0 #d4e4f0 #000;
  background-color: transparent;
  font-size: 13px;
  line-height: 23px;
}

.link-header-page {
  margin-right: 0px;
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #a9bce0;
  border-radius: 10px;
  background-color: transparent;
  color: #8796b4;
  text-decoration: none;
}

.link-header-page:hover {
  text-decoration: underline;
}

.link-header-page.white {
  margin-right: 1px;
  padding: 10px 20px;
  border-style: none;
  border-color: hsla(184, 0%, 96%, 0.2);
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  font-size: 8px;
  line-height: 22px;
  text-transform: uppercase;
}

.link-header-page.white:hover {
  text-decoration: none;
}

.link-header-page.white.light {
  display: block;
  margin-right: 0px;
  margin-left: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid solid none;
  border-width: 1px;
  border-color: rgba(212, 228, 240, 0.2);
  border-radius: 0px;
  background-color: #e9e9e9;
  color: #fff;
  text-align: center;
}

.link-header-page.white.light.w--current {
  width: auto;
  margin-left: 0px;
  border-style: none;
  border-width: 1px;
  background-color: #f8d2af;
  box-shadow: none;
  color: #000;
}

.footer-copyright {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  color: #666;
}

.footer-copyright.white {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: center;
  border-style: solid none none;
  border-width: 1px;
  border-color: rgba(10, 156, 229, 0.29) #000 #000;
  border-radius: 0px;
  background-color: transparent;
  color: #eaf8ff;
}

.footer-copyright.white {
  display: block;
  border-top-color: rgba(210, 210, 245, 0.2);
}

.footer-link {
  display: inline-block;
  margin-bottom: 0px;
  border-bottom: 2px solid transparent;
  transition: border 300ms ease, color 300ms ease;
  color: #000;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}

.footer-link:hover {
  border-bottom: 2px solid #ff7b00;
  color: #ff7b00;
  text-decoration: none;
}

.footer-link.w--current {
  color: #ff7b00;
}

.footer-link.white {
  margin-bottom: 0px;
  margin-left: 0px;
  border-style: none;
  border-width: 1px 1px 0px;
  border-color: #000;
  color: #9dbdd4;
  font-size: 16px;
  font-weight: 400;
}

.footer-link.white:hover {
  border: 1px none #000;
  color: #fff;
}

.footer-link.white.w--current {
  color: #7395ad;
  font-weight: 400;
}

.footer-link.white.w--current:hover {
  border: 1px none #000;
  text-decoration: none;
}

.footer-link.white {
  margin-top: 0px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-link.white:hover {
  border-bottom-color: #b87df9;
  color: #ff7b00;
}

.footer-link.white.w--current {
  color: #ff7b00;
  font-weight: 600;
}

.footer-link.white.bottom {
  margin-top: 0px;
  font-size: 8px;
  font-weight: 800;
  letter-spacing: 1px;
}

.footer-link.white.bottom:hover {
  color: #ff7b00;
}

.footer-bottom-text {
  color: #30364d;
  font-size: 14px;
  line-height: 22px;
}

.footer-bottom-text.white-text {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
  color: #fff;
}

.footer-bottom-text.white-text {
  display: block;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.home-section {
  position: relative;
  padding: 110px 20px;
  transition: box-shadow 300ms ease;
}

.home-section.hero {
  display: flex;
  height: 750px;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}

.home-section.hero.big-hero {
  display: flex;
  height: 100vh;
  margin-bottom: 0px;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
  color: #020224;
}

.button-wrapper {
  display: flex;
  margin-top: 40px;
  justify-content: flex-start;
  align-items: center;
}

.hero-big-image {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
}

.hero-big-image.green {
  height: 100%;
  margin-left: auto;
  border-radius: 0px;
  background-color: transparent;
}

.hero-big-image-wrapper {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  width: 50%;
  height: auto;
  border-bottom-left-radius: 0px;
  background-color: #37e083;
}

.hero-big-image-wrapper.darker {
  background-color: transparent;
}

.left-hero-content {
  max-width: 500px;
  padding-right: 40px;
}

.left-hero-content.left {
  width: 100%;
  height: auto;
  margin-top: 0px;
  padding-right: 20px;
  border-style: none;
  border-width: 0px;
  background-image: none;
  filter: none;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
}

.work-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.work-post-link {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #e9e9e9;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
}

.work-post-link.w--current {
  margin-bottom: 20px;
}

.work-image-wrapper {
  overflow: hidden;
  width: 100%;
}

.work-post {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 300px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.work-icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  background-color: #fff;
}

.footer-flex-container {
  display: flex;
  height: auto;
  margin-bottom: 0px;
  justify-content: space-between;
  color: #666;
  text-align: left;
}

.footer-bottom-div {
  display: flex;
  font-weight: 400;
}

.footer {
  padding: 0px 20px;
  align-items: flex-start;
  border-top: 1px none #e3e3e3;
  background-color: #000;
  text-align: center;
}

.footer-headings {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.footer-headings.white {
  color: #fff;
  letter-spacing: 0px;
}

.footer-column {
  display: flex;
  width: 33.33%;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: stretch;
  flex: 0 auto;
  text-align: left;
}

.footer-side {
  width: 40%;
  padding-top: 98px;
  padding-right: 98px;
  padding-bottom: 60px;
}

.footer-side.flex-side {
  display: flex;
  padding-top: 98px;
  padding-right: 0px;
  padding-left: 60px;
  flex-wrap: wrap;
  align-items: flex-start;
  border-left: 1px solid rgba(48, 54, 77, 0.18);
}

.footer-side.flex-side.light {
  width: 60%;
  justify-content: flex-end;
  border: 1px none #000;
}

.contact-link {
  color: #666;
  line-height: 30px;
  text-decoration: none;
}

.contact-link.space {
  margin-right: 4px;
  margin-left: 4px;
}

.footer-grid-bottom {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-image {
  height: 100%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border-radius: 0px;
  background-color: #fff;
  background-image: url('../images/eelco-bohtlingk-gAYyXcrILGc-unsplash.webp');
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-image.right-side-image {
  width: 100%;
  height: 600px;
  margin-right: 0px;
  margin-left: auto;
  background-image: url('../images/siyuan-hu-Jea4t6pte-k-unsplash.webp');
}

.about-image.left-side-image {
  height: 400px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: 0px;
}

.paragraph {
  color: #000;
}

.padding-paragraph {
  margin-bottom: 60px;
}

.left-form {
  text-align: left;
}

.text-field-contact {
  height: 36px;
  min-width: 100%;
  margin-bottom: 0px;
  padding: 10px 20px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  border-radius: 0px;
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
  color: #000;
  line-height: 24px;
}

.text-field-contact:hover {
  border-color: #ffa332;
}

.text-field-contact.password {
  margin-bottom: 10px;
  text-align: center;
}

.success-message {
  border-radius: 0px;
  background-color: #0dcc43;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.grid-contact {
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.grid-contact.short {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.section-half-block {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: flex;
  width: 50%;
  height: 800px;
  padding: 100px;
  background-image: linear-gradient(180deg, #693401, #693401);
}

.section-half-block.right-text-side {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: flex;
  height: 800px;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
}

.section-half-block.contact {
  align-items: center;
}

.section-header {
  position: relative;
  display: flex;
  padding: 120px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header.contact-page {
  height: auto;
  padding: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.center-button-block {
  width: 100%;
  text-align: left;
}

.contact-shape {
  display: flex;
  width: 700px;
  height: 750px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.contact-shape.color {
  width: 400px;
  height: auto;
  flex-direction: column;
  background-image: none;
}

.message {
  min-height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  border-radius: 0px;
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
  color: #000;
}

.message:hover {
  border-color: #ffa332;
}

.section-scroll {
  position: absolute;
  right: auto;
  bottom: auto;
  z-index: 100;
  display: flex;
  width: 60px;
  height: 60px;
  margin-top: 100px;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  background-color: transparent;
}

.inverted-arrow-color {
  filter: invert(100%);
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.utility-page-content {
  display: flex;
  width: 260px;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.light {
  color: #9dbdd4;
}

.field-label {
  font-family: Montserrat, sans-serif;
  color: #000;
}

.sticky-navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.icon-embed-small {
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.html-embed {
  width: 100%;
}

.white-copy {
  margin-top: 20px;
  color: #fff;
}

.image-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-embed-medium {
  display: flex;
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-embed-xsmall {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-partners_introduction {
  text-align: justify;
}

.link-zh {
  font-size: 14px;
}

.hero-image {
  width: 100%;
}

.footer-link-credit {
  display: inline-block;
  margin-bottom: 0px;
  border-bottom: 2px solid transparent;
  transition: border 300ms ease, color 300ms ease;
  color: #4b557c;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}

.footer-link-credit:hover {
  border-bottom: 2px solid #6a4ee1;
  color: #6a4ee1;
  text-decoration: none;
}

.footer-link-credit.white {
  margin-bottom: 0px;
  margin-left: 0px;
  border-style: none;
  border-width: 1px 1px 0px;
  border-color: #000;
  color: #9dbdd4;
  font-size: 16px;
  font-weight: 400;
}

.footer-link-credit.white:hover {
  border: 1px none #000;
  color: #fff;
}

.footer-link-credit.white.w--current {
  color: #7395ad;
  font-weight: 400;
}

.footer-link-credit.white.w--current:hover {
  border: 1px none #000;
  text-decoration: none;
}

.footer-link-credit.white {
  margin-top: 0px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-link-credit.white:hover {
  border-bottom-color: #b87df9;
  color: #ff7b00;
}

.footer-link-credit.white.w--current {
  color: #ff7b00;
  font-weight: 600;
}

.footer-link-credit.white.bottom {
  margin-top: 0px;
  font-size: 8px;
  font-weight: 800;
  letter-spacing: 1px;
}

.footer-link-credit.white.bottom:hover {
  color: #ff7b00;
}

@media screen and (max-width: 991px) {
  .nav-button-wrapper {
    margin-right: 0px;
    order: 1;
  }

  .nav-link {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #151f47;
  }

  .nav-menu {
    position: absolute;
    display: block;
    overflow: visible;
    height: auto;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    flex: 0 auto;
    background-color: #fff;
  }

  .nav-menu.w--open {
    margin-left: 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }

  .menu-button {
    width: 52px;
    height: 52px;
    margin-left: 10px;
    padding: 14px;
    order: 1;
    border-radius: 4px;
    background-color: #ff7b00;
    color: #fff;
  }

  .menu-button.w--open {
    background-color: #000;
    color: #fff;
  }

  .navbar {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
  }

  .section-hero.hero-page-section.about {
    padding-top: 140px;
  }

  .color-example {
    background-color: #6a55df;
  }

  .color-example.second {
    background-color: #ff7b00;
  }

  .color-example.fourth {
    background-color: #dadada;
  }

  .color-example.third {
    background-color: #f8d2af;
  }

  .rich-text-block {
    width: 80%;
  }

  .big-headline {
    text-align: left;
  }

  .grid-scales {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .container-middle {
    padding-right: 0px;
    padding-left: 0px;
  }

  .title-section {
    width: 100%;
  }

  .white {
    margin-top: 20px;
  }

  .left {
    width: 80%;
    height: 650px;
    margin-right: auto;
    margin-left: auto;
    background-position: 50% 50%;
  }

  .agency-features-grid.whith-side-section {
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .left-button-div.padding {
    padding-right: 30px;
    padding-left: 30px;
  }

  .grid-aids {
    grid-row-gap: 100px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-page {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  .breadcrumbs-block {
    justify-content: flex-start;
  }

  .footer-copyright.white {
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-copyright.white {
    width: 100%;
  }

  .home-section.hero {
    height: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    justify-content: flex-start;
  }

  .home-section.hero.big-hero {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-big-image {
    height: 700px;
    background-image: none;
  }

  .hero-big-image.green {
    height: auto;
  }

  .hero-big-image-wrapper {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
  }

  .hero-big-image-wrapper.darker {
    position: relative;
  }

  .left-hero-content {
    max-width: none;
    padding-right: 0px;
  }

  .left-hero-content.left {
    margin-top: 60px;
    padding-right: 0px;
  }

  .hero-flex {
    height: auto;
    margin-top: 0px;
  }

  .work-grid {
    width: 100%;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .work-post-link {
    padding-right: 0px;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-column {
    width: 100%;
  }

  .footer-side {
    width: 100%;
    padding-bottom: 0px;
  }

  .footer-side.flex-side.light {
    width: 100%;
    padding-left: 0px;
  }

  .section-half-block {
    display: flex;
    width: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }

  .section-header.contact-page {
    height: auto;
    flex-direction: column;
  }

  .contact-shape {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: auto;
    margin-left: auto;
  }

  .contact-shape.color {
    width: 100%;
    height: auto;
  }

  .section-scroll {
    margin-right: 20px;
  }

  .white-copy {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu.w--open {
    margin-left: 0px;
  }

  .container {
    align-items: stretch;
  }

  .menu-button {
    display: flex;
    padding: 14px;
    border-radius: 6px;
    background-color: #ff7b00;
  }

  .menu-button.w--open {
    background-color: #000;
    color: #fff;
  }

  .navbar {
    z-index: 999;
    padding-right: 10px;
    padding-left: 10px;
  }

  .page-wrapper {
    overflow: hidden;
  }

  .rich-text-block {
    width: 100%;
  }

  .big-headline {
    font-size: 50px;
    line-height: 60px;
  }

  .grid-scales {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  .title-section {
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .agency-features-grid.whith-side-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-page {
    margin-top: 0px;
  }

  .breadcrumbs-block {
    width: 100%;
    margin-top: 100px;
  }

  .footer-link.white.bottom {
    margin-top: 0px;
  }

  .home-section.hero {
    margin-bottom: 0px;
  }

  .home-section.hero.big-hero {
    padding-bottom: 0px;
  }

  .left-hero-content.left {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .hero-flex {
    margin-top: 40px;
  }

  .work-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-flex-container {
    flex-wrap: wrap;
  }

  .footer {
    padding: 40px 20px 0px;
  }

  .footer-side {
    width: 100%;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .footer-side.flex-side {
    width: 100%;
    padding-left: 20px;
    border-left-style: none;
  }

  .footer-side.flex-side.light {
    width: 100%;
  }

  .about-image.right-side-image {
    height: 500px;
  }

  .left-form {
    width: 100%;
  }

  .text-field-contact {
    min-width: auto;
  }

  .grid-contact {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .grid-contact.short {
    width: 100%;
  }

  .form-wrapper {
    width: 100%;
  }

  .contact-shape {
    width: 500px;
    height: 550px;
  }

  .footer-link-credit.white.bottom {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
    line-height: 38px;
  }

  .button {
    margin-bottom: 10px;
  }

  .button.outline.buy-template-button {
    display: none;
  }

  .nav-button-wrapper {
    grid-column-gap: 0.5rem;
  }

  .nav-menu.w--open {
    margin-left: 0px;
  }

  .menu-button {
    background-color: #ff7b00;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .navbar {
    padding-right: 10px;
    padding-left: 10px;
  }

  .rich-text-block {
    width: 100%;
  }

  .big-headline {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }

  .grid-scales {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .title-section-center {
    font-size: 32px;
    line-height: 42px;
  }

  .left {
    height: 400px;
  }

  .second-services-card {
    padding: 20px;
  }

  .pricing-list-text.third {
    padding-right: 0px;
    text-align: left;
  }

  .left-button-div.padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .icon {
    margin-right: auto;
  }

  .icon.small {
    margin-right: 20px;
  }

  .hero-page {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .breadcrumbs-block {
    width: 100%;
    margin-top: 60px;
    flex-wrap: wrap;
  }

  .link-header-page.white {
    margin-top: 0px;
    font-size: 8px;
    line-height: 22px;
  }

  .link-header-page.white.light {
    margin-top: 0px;
    margin-right: 0px;
    text-align: center;
  }

  .link-header-page.white.light.w--current {
    font-size: 8px;
    line-height: 22px;
  }

  .footer-copyright {
    flex-direction: column;
  }

  .footer-link {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .footer-bottom-text.white-text {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-section.hero {
    margin-bottom: 0px;
  }

  .home-section.hero.big-hero {
    padding-bottom: 100px;
  }

  .button-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-big-image {
    height: 600px;
    background-position: 50% 100%;
    background-size: contain;
  }

  .left-hero-content {
    max-width: none;
  }

  .left-hero-content.left {
    margin-bottom: 0px;
  }

  .hero-flex {
    margin-top: 20px;
  }

  .work-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .work-post-link {
    padding-right: 0px;
    flex-direction: column;
  }

  .work-post {
    width: 100%;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .footer-bottom-div {
    margin-right: auto;
    justify-content: flex-start;
    text-align: left;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-headings {
    margin-top: 20px;
  }

  .footer-column {
    width: 100%;
  }

  .footer-side {
    width: 100%;
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 60px;
  }

  .footer-side.flex-side {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    border-left-style: none;
  }

  .footer-side.flex-side.light {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-grid-bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about-image.left-side-image {
    height: 300px;
  }

  .text-field-contact {
    min-width: 100%;
  }

  .grid-contact {
    width: 100%;
  }

  .section-half-block {
    padding: 20px;
  }

  .section-half-block.right-text-side {
    padding: 20px;
  }

  .section-header {
    padding-right: 20px;
    padding-left: 20px;
  }

  .contact-shape {
    display: none;
  }

  .contact-shape.color {
    display: flex;
  }
}

#w-node-a73c1bd7-8972-4c7b-fb60-415ff2236301-6ab8a285 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a73c1bd7-8972-4c7b-fb60-415ff2236303-6ab8a285 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a73c1bd7-8972-4c7b-fb60-415ff2236305-6ab8a285 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6df8a40f-1011-5f07-6717-2d736ab8a2db-6ab8a285 {
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-a17cc8f5 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-fedaa951-7a9b-bf15-46ca-2c364da7c396-a17cc8f5 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4c986114-f34e-6509-15a1-184ac698c9bd-a17cc8f5 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_056d99a2-7d4f-5555-7511-c4908f681253-a17cc8f5 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4ea02014-f389-4190-2670-ed26e0033912-a17cc8f5 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0e98c9a7-6c39-83ab-531c-1a335762bb93-a17cc8f5 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3673308-7d9e-96f1-12d9-ef804514ef73-a17cc8f5 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-597cc8f7 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-597cc8f7 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_342852c7-fe7b-0c6d-9395-4000919088e9-207cc90d {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_342852c7-fe7b-0c6d-9395-4000919088ef-207cc90d {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_342852c7-fe7b-0c6d-9395-4000919088f5-207cc90d {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_342852c7-fe7b-0c6d-9395-4000919088fb-207cc90d {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d763a52f-58fe-02b2-9741-1bc02e49ab44-207cc90d {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cd8e7e7a-8754-bb66-5852-5fdc64f03701-207cc90d {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0ec9f206-cbfa-9820-48e5-557912552427-1255241b {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0ec9f206-cbfa-9820-48e5-557912552429-1255241b {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0ec9f206-cbfa-9820-48e5-55791255242b-1255241b {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0ec9f206-cbfa-9820-48e5-55791255244d-1255241b {
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-55722bc4 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-fedaa951-7a9b-bf15-46ca-2c364da7c396-55722bc4 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4c986114-f34e-6509-15a1-184ac698c9bd-55722bc4 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_056d99a2-7d4f-5555-7511-c4908f681253-55722bc4 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4ea02014-f389-4190-2670-ed26e0033912-55722bc4 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0e98c9a7-6c39-83ab-531c-1a335762bb93-55722bc4 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3673308-7d9e-96f1-12d9-ef804514ef73-55722bc4 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-b453aee7 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-b453aee7 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-_8ef54745-a838-08c9-151e-6df03aaa4658-3aaa464c {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8ef54745-a838-08c9-151e-6df03aaa465a-3aaa464c {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8ef54745-a838-08c9-151e-6df03aaa465c-3aaa464c {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8ef54745-a838-08c9-151e-6df03aaa467e-3aaa464c {
  -ms-grid-column-align: end;
      justify-self: end;
}

#w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-af95df97 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: start;
      align-self: start;
}

#w-node-fedaa951-7a9b-bf15-46ca-2c364da7c396-af95df97 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4c986114-f34e-6509-15a1-184ac698c9bd-af95df97 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_056d99a2-7d4f-5555-7511-c4908f681253-af95df97 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4ea02014-f389-4190-2670-ed26e0033912-af95df97 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0e98c9a7-6c39-83ab-531c-1a335762bb93-af95df97 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3673308-7d9e-96f1-12d9-ef804514ef73-af95df97 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-4016a9e1 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: center;
      align-self: center;
}

#w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-4016a9e1 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-f27cc8f1 {
    -ms-grid-column-span: 4;
    grid-column-end: 4;
  }

  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-a17cc8f5 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-597cc8f7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-597cc8f7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_342852c7-fe7b-0c6d-9395-4000919088e9-207cc90d {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-_342852c7-fe7b-0c6d-9395-4000919088ef-207cc90d {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-_342852c7-fe7b-0c6d-9395-4000919088f5-207cc90d {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-_342852c7-fe7b-0c6d-9395-4000919088fb-207cc90d {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-d763a52f-58fe-02b2-9741-1bc02e49ab44-207cc90d {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-cd8e7e7a-8754-bb66-5852-5fdc64f03701-207cc90d {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-a6631714 {
    -ms-grid-column-span: 4;
    grid-column-end: 4;
  }

  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-55722bc4 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-b453aee7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-b453aee7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-6f1466f7 {
    -ms-grid-column-span: 4;
    grid-column-end: 4;
  }

  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-af95df97 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-4016a9e1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-4016a9e1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-f27cc8f1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-a73c1bd7-8972-4c7b-fb60-415ff2236301-6ab8a285 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a73c1bd7-8972-4c7b-fb60-415ff2236303-6ab8a285 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a73c1bd7-8972-4c7b-fb60-415ff2236305-6ab8a285 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-a6631714 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_0ec9f206-cbfa-9820-48e5-557912552427-1255241b {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0ec9f206-cbfa-9820-48e5-557912552429-1255241b {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0ec9f206-cbfa-9820-48e5-55791255242b-1255241b {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-ff59390d-79a5-457f-cc48-a895d639978b-6f1466f7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_8ef54745-a838-08c9-151e-6df03aaa4658-3aaa464c {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_8ef54745-a838-08c9-151e-6df03aaa465a-3aaa464c {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_8ef54745-a838-08c9-151e-6df03aaa465c-3aaa464c {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-a17cc8f5 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-597cc8f7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-597cc8f7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-55722bc4 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-b453aee7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-b453aee7 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b71156f2-5ba4-9fe1-5c68-ba601049f724-af95df97 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-deee82ea-6eb5-bf78-79f1-fe916520d57b-4016a9e1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-dc0593dc-6a15-cbc0-b9d0-4f225488b6d9-4016a9e1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

