<!DOCTYPE html><!--  Last Published: Tue Mar 14 2023 09:43:37 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="63fc34a876d6a34d207cc90d" data-wf-site="63fc34a876d6a3c7167cc8eb">
<head>
  <meta charset="utf-8">
  <title>Artdeco — Webflow HTML website template</title>
  <meta content="Build the website of your dreams today. It’s so easy with the Artdeco UI Kit template. Artdeco comes with a professional collection of elements ideal for architecture/interior design websites." name="description">
  <meta content="Artdeco — Webflow HTML website template" property="og:title">
  <meta content="Build the website of your dreams today. It’s so easy with the Artdeco UI Kit template. Artdeco comes with a professional collection of elements ideal for architecture/interior design websites." property="og:description">
  <meta content="Artdeco — Webflow HTML website template" property="twitter:title">
  <meta content="Build the website of your dreams today. It’s so easy with the Artdeco UI Kit template. Artdeco comes with a professional collection of elements ideal for architecture/interior design websites." property="twitter:description">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../css/components.css" rel="stylesheet" type="text/css">
  <link href="../css/wong-and-chan.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["PT Serif:400,400italic,700,700italic","Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","PT Sans:400,400italic,700,700italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="../images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="sticky-navigation">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="container navbar-container w-container">
        <div class="nav-flex">
          <nav role="navigation" class="nav-menu nav-link w-nav-menu">
            <a href="../index.html" class="nav-link w-nav-link">Home</a>
            <a href="../about-us.html" class="nav-link w-nav-link">About US</a>
            <a href="../our-partner.html" class="nav-link w-nav-link">Our Partner(s)</a>
            <a href="../contact-us.html" class="nav-link w-nav-link">Contact</a>
          </nav>
        </div>
        <div class="nav-button-wrapper">
          <a href="mailto:RW@WONGANDCHAN.COM" class="button outline buy-template-button w-button">Email Us</a>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Top" class="section-hero hero-page-section style-guide wf-section">
    <div class="container hero w-container">
      <div class="hero-page">
        <h3 class="white">Style Guide<br></h3>
      </div>
    </div>
    <div class="breadcrumbs-block">
      <a href="../index.html" class="link-header-page white">Home</a>
      <a href="../template/style-guide.html" aria-current="page" class="link-header-page white light w--current">Style Guide<br></a>
    </div>
  </div>
  <div class="section wf-section">
    <div class="container">
      <div class="w-layout-grid grid-scales style">
        <div id="w-node-_342852c7-fe7b-0c6d-9395-4000919088e9-207cc90d" class="colors">
          <div class="color-example"></div>
          <div class="color-text"><strong>Color</strong> #6a56df</div>
        </div>
        <div id="w-node-_342852c7-fe7b-0c6d-9395-4000919088ef-207cc90d" class="colors">
          <div class="color-example second"></div>
          <div class="color-text"><strong>Color</strong> #ff7b00</div>
        </div>
        <div id="w-node-_342852c7-fe7b-0c6d-9395-4000919088f5-207cc90d" class="colors">
          <div class="color-example third"></div>
          <div class="color-text"><strong>Color</strong> #f8d2af</div>
        </div>
        <div id="w-node-_342852c7-fe7b-0c6d-9395-4000919088fb-207cc90d" class="colors">
          <div class="color-example fourth"></div>
          <div class="color-text"><strong>Color</strong> #e9e9e9</div>
        </div>
        <div id="w-node-d763a52f-58fe-02b2-9741-1bc02e49ab44-207cc90d" class="colors">
          <div class="color-example fifth"></div>
          <div class="color-text"><strong>Color</strong> #dadada</div>
        </div>
        <div id="w-node-cd8e7e7a-8754-bb66-5852-5fdc64f03701-207cc90d" class="colors">
          <div class="color-example sixth"></div>
          <div class="color-text"><strong>Color</strong> #000000</div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="div-font-guide">
        <div class="paragraph-wrapper">
          <p class="big-headline">The quick brown fox jumps</p>
          <p>Big Headline - Monserrat | 50px font-size / 60px line-height / Black</p>
        </div>
        <div class="paragraph-wrapper">
          <h1>The quick brown fox jumps<br></h1>
          <p>H1 - Monserrat  | 42px font-size /52px line-height / Extra Bold</p>
        </div>
        <div class="paragraph-wrapper">
          <h2>The quick brown fox jumps</h2>
          <p>H2 - Monserrat  | 36px font-size / 46px line-height / Extra Bold</p>
        </div>
        <div class="paragraph-wrapper">
          <h3>The quick brown fox jumps</h3>
          <p>H3 - Monserrat  | 30px font-size / 40px line-height / Extra Bold</p>
        </div>
        <div class="paragraph-wrapper">
          <h4>The quick brown fox jumps</h4>
          <p class="paragraph">H4 - Monserrat  | 26px font-size / 36px line-height / Extra Bold</p>
        </div>
        <div class="paragraph-wrapper">
          <h5>The quick brown fox jumps</h5>
          <p>H5 - Monserrat  | 20px font-size / 30px line-height / Extra Bold</p>
        </div>
        <div class="paragraph-wrapper">
          <h6>The quick brown fox jumps</h6>
          <p>H6 - Monserrat  | 16px font-size / 26px line-height / Extra Bold</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="paragraph-div-info">
        <h2>Normal paragraph</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In metus vulputate eu scelerisque felis imperdiet. Accumsan tortor posuere ac ut consequat semper viverra nam libero. Tincidunt praesent semper feugiat nibh sed. Lorem dolor sed viverra ipsum. Sed euismod nisi porta lorem mollis. Tincidunt tortor aliquam nulla facilisi cras fermentum odio.<br></p>
        <p class="small-title padding">Paragraph - Monserrat  | 14px font-size / 24px line-height / Normal</p>
        <h2>Italic, bold, link</h2>
        <p class="padding-paragraph"><em>consectetur adipiscing</em><br><strong>Accumsan tortor posuere</strong> <strong><br></strong>
          <a href="#">Sed euismod nisi porta</a><br>
        </p>
        <h2>Big paragraph</h2>
        <p class="big-paragraph">Consequat id porta nibh venenatis cras sed. Ut tristique et egestas quis. Sit amet massa vitae tortor condimentum lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. In hendrerit gravida rutrum quisque. Et egestas quis ipsum suspendisse. Et malesuada fames ac turpis. Et magnis dis parturient montes nascetur ridiculus mus. Leo a diam sollicitudin tempor. Hac habitasse platea dictumst vestibulum.</p>
        <p class="small-title padding">Paragraph - Monserrat  | 16px font-size / 26px line-height / Normal</p>
      </div>
      <div class="divider"></div>
      <div class="rich-text-block w-richtext">
        <h2>A large heading</h2>
        <p>Condimentum penatibus fermentum porttitor vestibulum feugiat sit dui. Magnis at nisl elit leo nam. Egestas semper velit mattis aenean adipiscing. Pellentesque laoreet lectus in ipsum amet molestie cum elementum. Blandit tortor, adipiscing nunc dolor aliquet. Justo, ac eu fringilla et viverra. Nec velit, sit condimentum eget vel, proin. Cras justo, vestibulum lacinia mauris arcu ac volutpat volutpat pellentesque. Ultrices facilisis elit orci elit quisque suspendisse.<br>Donec est volutpat ornare ultrices nunc, purus. In luctus tristique varius curabitur. Elementum sed sagittis, ultrices eget libero, pulvinar. Dictum nullam viverra cursus libero tempus urna commodo fermentum. Pharetra ut pretium, lectus fermentum cras lobortis at facilisis id.</p>
        <p>‍</p>
        <p>Morbi consectetur adipiscing orci tincidunt faucibus fringilla. Feugiat purus venenatis orci odio mauris imperdiet sed at. Tellus magna vel tempus lorem sit nunc duis pellentesque interdum. Quam egestas cras turpis aliquet cras. Nullam et odio quam tempor ac. Sapien fringilla dui, urna dignissim sed. Viverra sed non mi vestibulum dictum ultrices ac. Urna tempus sagittis bibendum ultrices vitae fusce sodales.</p>
        <p>‍</p>
        <h3>A smaller heading</h3>
        <p>Vitae quis lectus integer duis nunc leo, tempor. Interdum pellentesque diam tortor ut nunc malesuada. Tempus nunc potenti magna cursus quisque fusce cum. Felis ut id ac accumsan, aliquam. Venenatis lectus sed id sodales posuere. Euismod aliquet nisi, sed imperdiet ac, libero in massa bibendum. Pulvinar feugiat posuere congue sociis. Feugiat quam viverra nisi condimentum non ut sagittis. In hac egestas vel urna in neque. Tortor ut habitant laoreet justo, imperdiet ac. Malesuada tristique habitasse mi phasellus at.</p>
        <figure style="max-width:1200pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
          <div><img src="https://uploads-ssl.webflow.com/60fd70181756a9b54ffc85b0/610179b83a2eea2ebf48ecc7_60490423d4497147726b9b88_a-female-office-worker-at-the-table-holding-papers-with-diagrams.jpeg" loading="lazy" alt=""></div>
          <figcaption>This is a free foto from <a href="https://icons8.com/pricing" target="_blank">Icons8 License.</a>
          </figcaption>
        </figure>
        <p>Aliquam nisi, id natoque amet venenatis lectus malesuada non velit. <strong>Nulla risus enim sit feugiat</strong>. Magna diam dui, vitae auctor maecenas id aliquam id. Senectus non, ridiculus enim praesent duis tellus facilisi non. Eu, tristique senectus vitae egestas lectus neque, consectetur sit.</p>
        <ol start="" role="list">
          <li>Beautifully Designed</li>
          <li>Fully Responsive</li>
          <li>CMS Content</li>
          <li>Smooth Interactions</li>
        </ol>
        <p>Auctor aliquam volutpat massa arcu in metus. Mattis ullamcorper tortor purus fringilla aliquet eleifend vehicula. Enim, pellentesque egestas at at nulla quisque tempor nec sollicitudin. Ac, ullamcorper quis scelerisque sit. Proin mi ultrices cursus adipiscing dolor, lorem.</p>
        <blockquote>“I tell my students, &#x27;When you get these jobs that you have been so brilliantly trained for, just remember that your real job is that if you are free, you need to free somebody else.”<br></blockquote>
        <p>Nisi, adipiscing dui et eget. <em>Adipiscing velit hendrerit</em> sed vulputate elementum. Iaculis diam semper mi et. At quis nulla rhoncus adipiscing ridiculus sed lectus aliquet id. Pretium mattis bibendum maecenas placerat mattis. Ac vel ut felis.</p>
        <ul role="list">
          <li>Beautifully Designed</li>
          <li>Fully Responsive</li>
          <li>CMS Content</li>
          <li>Smooth Interactions</li>
        </ul>
        <p>Aliquam nisi, id natoque amet venenatis lectus malesuada non velit. Nulla risus enim sit feugiat. <a href="http://www.webflow.com">Magna diam dui</a>, vitae auctor maecenas id aliquam id. Senectus non, ridiculus enim <em>praesent duis tellus facilisi non</em>. Eu, tristique senectus vitae egestas lectus neque, consectetur sit.</p>
        <p>Auctor aliquam volutpat massa arcu in metus. Mattis ullamcorper tortor purus <strong>fringilla aliquet eleifend vehicula.</strong> Enim, pellentesque egestas at at nulla quisque tempor nec sollicitudin. Ac, ullamcorper quis scelerisque sit. Proin mi ultrices cursus adipiscing dolor, lorem.</p>
      </div>
    </div>
  </div>
  <footer id="footer" class="footer wf-section">
    <div class="container">
      <div class="footer-flex-container">
        <div class="footer-side">
          <div>
            <div class="form-wrapper w-form">
              <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form" method="get" class="left-form">
                <div class="w-layout-grid grid-contact short">
                  <div class="w-clearfix"><input type="text" class="text-field-contact w-input" maxlength="256" name="Name" data-name="Name" placeholder="Name" id="Name" required=""></div>
                  <div class="w-clearfix"><input type="tel" class="text-field-contact w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone number" id="Phone" required=""></div>
                  <div id="w-node-a73c1bd7-8972-4c7b-fb60-415ff2236301-6ab8a285" class="w-clearfix"><input type="email" class="text-field-contact w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email" required=""></div>
                  <div id="w-node-a73c1bd7-8972-4c7b-fb60-415ff2236303-6ab8a285"><textarea placeholder="Message" maxlength="5000" id="Message" name="Message" data-name="Message" required="" class="message w-input"></textarea></div><input type="submit" value="Send Message" data-wait="Please wait..." id="w-node-a73c1bd7-8972-4c7b-fb60-415ff2236305-6ab8a285" class="button w-button">
                </div>
                <div class="center-button-block"></div>
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-side flex-side light">
          <div class="footer-column">
            <h2 class="footer-headings white">footer Links</h2>
            <ul role="list" class="w-list-unstyled">
              <li>
                <a href="../index.html" class="footer-link white">Home</a>
              </li>
              <li>
                <a href="../about-us.html" class="footer-link white">about</a>
              </li>
              <li>
                <a href="../our-partner.html" class="footer-link white">our partner(S)</a>
              </li>
              <li>
                <a href="../contact-us.html" class="footer-link white">contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright white">
        <div class="w-layout-grid footer-grid-bottom">
          <div class="footer-bottom-text white-text">© <span id="year">2016</span> by WONG AND CHAN Solicitors and Notaries · <a href="https://www.mediastudio.space/service/website-design" target="_blank" class="footer-link">Web Design</a>
          </div>
          <div id="w-node-_6df8a40f-1011-5f07-6717-2d736ab8a2db-6ab8a285" class="footer-bottom-div">
            <div class="footer-bottom-text">
              <a href="../index.html" class="footer-link white bottom">Eng</a>
            </div>
            <div>
              <a href="#" class="contact-link space white">|</a>
            </div>
            <div>
              <a href="../zh-hk.html" class="footer-link white bottom">繁</a>
            </div>
            <div>
              <a href="#" class="contact-link space white">|</a>
            </div>
            <div class="footer-bottom-text">
              <a href="../zh-cn.html" class="footer-link white bottom">简</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=63fc34a876d6a3c7167cc8eb" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="../js/wong-and-chan.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
 document.getElementById( 'year' ).innerHTML = new Date().getFullYear();
</script>
</body>
</html>